/* common  */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  color: #22577a;
}

p {
  margin: 0;
  line-height: 1.6;
}

p + p {
  margin-top: 16px;
}

a {
  text-decoration: none;
  cursor: inherit;
}

img {
  vertical-align: bottom;
}

.btn {
  display: block;
  width: 160px;
  background: #329e00;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: bold;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  outline: 2px solid red;
  max-width: 800px;
} 



/* header */

header {
  padding: 16px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero */
.hero {
  background-color: #99e6ff;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 64px;
  text-align: center;
}

.hero p {
    margin-top: 8px;
  }

.hero .btn {
  margin: 64px auto 0;
}

.hero img {
  margin-top: 64px;
}

/* features */

.features {
  padding: 64px 0;
}

.features h1 {
  text-align: center;
  padding-bottom: 64px;
}

.features img {
  width: 100px;
}

.features h2 {
  padding-bottom: 16px;
}

.features section + section {
  margin-top: 16px;
}

/* voices */
.voices {
  background: #99e6ff;
  padding: 64px 0;
}

.voices h1 {
  text-align: center;
  padding-bottom: 64px;
}

.voices section {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
}

.voices footer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

/* call-to-action */
.call-to-action {
  padding: 64px 0;
  background-color: #85d8fd;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
}

.call-to-action h1 {
  text-align: center;
  padding-bottom: 64px;
}

.call-to-action .btn {
  margin: 0 auto;
}

/* copyright */
.copyright {
  background: #323435;
  padding: 64px 0;
  text-align: center;
}
.copyright small {
  font-size: 16px;
  color: #eee;
}

/* large screen */
@media (min-width: 600px) {
  .hero .container {
    display: flex;
    align-items: center;
  }
  .hero .desc,
  .hero .pic {
    width: 50%;
  }
  .hero img {
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0;
}